body {
    padding:0;
    margin:0;
    overflow:hidden;
	height: 600px;
	text-align: center;
}
canvas {
    padding:0;
    margin:0;
}
div.btnbg {
    position:fixed;
    left:0;
    top:0;
}
/*.centered{
	position: absolute;
  	top: 160px;
  	left: 65px;
  	color: WhiteSmoke;
  	font-size: 3vw
}

*/
.centered {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  display: flex; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
    position: absolute;
  	top: 160px;
  	left: 65px;
  	color: #E5E0DF;
  	font-size: 2.5vw;

}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.links a{
	color: #E5E0DF;
	text-decoration: none;
	font-size: 2.5vw;
}
.links2 a{
	position: relative;
	top: 9px;
	left: 12px;
	color: #E5E0DF;
	text-decoration: none;
	font-size: 2.5vw;
}

.links a:hover .centered{
	overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  display: flex; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
    position: absolute;
  	top: 160px;
  	left: 65px;
  	color: #E5E0DF;
  	font-size: 2.5vw;
}